<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Twitter Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- End Twitter Bootstrap -->
    
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>
    <div class="content-container">
        {% block content %}{% endblock %}
    </div>
    <footer>        
        {% block footer %}{% endblock %}
    </footer>
    {% block js %}{% endblock %}
</body>
</html>